{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}
{% block main %}
<form action="/register" method="post">
<div class="register">
<input autocomplete="off" autofocus class="register-name" name="username"
placeholder="Username" type="text">
    </div>
    <div class="register">
    <input class="register-password" name="password" placeholder="Password" type="password">
    </div>
    <div>

<input class="register-password" name="confirmation" placeholder="Password" type="password">
    </div>
    <button class="btn " type="submit">Register</button>
</form>
{% endblock %}
